.card {
  margin: auto;
  margin-top: 64px;
  width: 50%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

.result {
  display: flex;
}

.example-full-width {
  width: 50%;
  margin: auto;
}

mat-card {
  border: 3px solid #3f51b5;
  margin-bottom: 64px !important;
}

button {
  width: 100%;
  color: white;
  background: #3f51b5;
  margin-top: 15px;
}

textarea {
  height: 200px;
}

.check-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.form-title{
  margin-top: 20px !important;
}
