<mat-card class="card">
  <mat-card-header>
    <mat-card-title>New exercise</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" class="exercise-form">
    <div class="form-field">
      <mat-form-field>
        <input matInput placeholder="Title" name="title" formControlName="title">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <textarea matInput placeholder="Description" name="description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input matInput (keypress)="numberOnly($event)" placeholder="Difficulty" name="difficulty"
               formControlName="difficulty">
        <mat-hint align="start">This will be the number of stars of the exercise.</mat-hint>
        <mat-hint align="end"> Put a number between 1 and 3. (1: Easy, 2: Medium, 3: Hard)</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <input matInput (keypress)="numberOnly($event)" placeholder="Points" name="points" formControlName="points">
        <mat-hint align="start">This will be the number of points the student will earn after complete it.
        </mat-hint>
        <mat-hint align="end">Put a number between 1 and 100.</mat-hint>
      </mat-form-field>
    </div>


    <mat-card-title class="form-title">State of the CPU at the end of the execution:</mat-card-title>

    <div class="result">
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput (keypress)="numberOnly($event)" placeholder="R0" name="R0" formControlName="R0">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput (keypress)="numberOnly($event)" placeholder="R1" name="R1" formControlName="R1">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput (keypress)="numberOnly($event)" placeholder="R2" name="R2" formControlName="R2">
        </mat-form-field>
      </div>
    </div>
    <div class="result">
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput (keypress)="numberOnly($event)" placeholder="PD" name="PD" formControlName="PD">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="example-full-width">
          <input matInput (keypress)="numberOnly($event)" placeholder="PE" name="PE" formControlName="PE">
        </mat-form-field>
      </div>
    </div>

  </form>


  <mat-card-title class="form-title">Resolution must include instructions:</mat-card-title>

  <section fxLayout="row" fxLayoutAlign="space-evenly center">
    <div fxLayout="column">
      <mat-checkbox [(ngModel)]="MOVE">MOVE</mat-checkbox>
      <mat-checkbox [(ngModel)]="ADD">ADD</mat-checkbox>
      <mat-checkbox [(ngModel)]="DATA">DATA</mat-checkbox>
      <mat-checkbox [(ngModel)]="COMPARE">COMPARE</mat-checkbox>
      <mat-checkbox [(ngModel)]="IN">IN</mat-checkbox>
    </div>
    <div fxLayout="column">
      <mat-checkbox [(ngModel)]="OUT">OUT</mat-checkbox>
      <mat-checkbox [(ngModel)]="JUMP">JUMP</mat-checkbox>
      <mat-checkbox [(ngModel)]="JE">JE</mat-checkbox>
      <mat-checkbox [(ngModel)]="JNE">JNE</mat-checkbox>
      <mat-checkbox [(ngModel)]="HALT">HALT</mat-checkbox>
    </div>
  </section>

  <div class="form-buttons">
    <button mat-raised-button
            [disabled]="form.invalid"
            (click)="newExercise()">Save <i class="fa fa-save"></i></button>
  </div>

</mat-card>

