.lista-ejercicios {
  border: 3px solid #3f51b5;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.ejercicio {
  margin: 20px;
  border: 3px solid #3f51b5;
}

.ejercicio:hover {
  //background-color: #3f51b5;
  cursor: pointer;
}

.difficulty {
  display: flex;
}

.mat-button {
  background: #3f51b5;
  color: white;
  //float: right;
  //margin-top: auto;
}

.resolved {
  background: limegreen;
  color: white;
}

.opened {
  color: white;
}

.chip-list{
  margin-top: 100px !important;
  background: #e6ff00;
}

p{
  margin-top: 6px;
}
