<mat-card class="lista-ejercicios">
  <mat-card-header>
    <mat-card-title>List of exercises</mat-card-title>
  </mat-card-header>
  <mat-card *ngFor="let exercise of exercises; let i = index" class="ejercicio"
            (click)="redirectToExercise(exercise.id)">

    <div fxLayout="row" fxLayoutAlign="space-between start">
      <p>{{exercise.title}}</p>
      <mat-chip-list>
        <mat-chip class="resolved" *ngIf="resolutions[exercise.id]">Resolved!</mat-chip>
        <mat-chip *ngIf="resolutions[exercise.id] === false">Tried</mat-chip>
      </mat-chip-list>
      <button mat-button *ngIf="canDeleteExercise()" (click)="deleteExercise(exercise.id, i)">Remove exercise</button>
    </div>
    <div class="difficulty">
      Difficulty:
      <div *ngFor='let in of counter(exercise.difficulty); let i = index'> <i class="fa fa-star"></i></div>
    </div>
  </mat-card>
</mat-card>

