<div class="login">
    <mat-card>
        <form [formGroup]="form" class="login-form">
            <h1>Easy Assembly</h1>
            <h2>Log in</h2>
            <div class="form-field">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" name="email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" name="password" formControlName="password" type="password">
                </mat-form-field>
            </div>
            <div class="form-buttons">
                <button mat-raised-button (click)="login()">Login</button>
            </div>
        </form>
        <button mat-raised-button (click)="redirectToRegister()">Sign up</button>
    </mat-card>
</div>
