.login {
  //display: flex;
  //justify-content: center;
  align-items: center;
}

h2, h1 {
  text-align: center;
}

mat-card {
  width: 300px;
  margin: auto;
  margin-top: 64px;
  border: 3px solid #3f51b5;
}

mat-form-field {
  width: 100%;
}

button {
  text-align: center;
  width: 100%;
  margin: 2px;
  background-color: #3f51b5;
  color: white;
}

.login-form {
  .mat-input-element {
    color: black;
  }

  .mat-form-field-label {
    color: grey;
  }
}
