.students-list {
  margin: auto;
  margin-top: 64px;
  width: 50%;
}

.student {
  //width: 50%;
  margin: 25px;
  //display: flex;
}

.student:first-of-type{
  margin-top: 0px;
}

.field {
  //margin: 5px;
}

button {
  text-align: center;
  background-color: green;
  color: white;
  margin-right: 5px;
}

.block-button {
    background-color: darkred;
}

mat-card{
  border: 3px solid  #3f51b5;
}

.table-label{
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 60px;
}
