<mat-tab-group>
  <mat-tab label="Pending Requests">
    <mat-card class="students-list">
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
        <mat-card-title>Pending requests</mat-card-title>
        <div>
          <button mat-raised-button (click)="acceptAll()" class="accept-button">
            <i class="fa fa-check"></i> Accept all
          </button>
          <button mat-raised-button (click)="blockAll()" class="block-button">
            <i class="fa fa-ban"></i>
            Block all
          </button>
        </div>
      </mat-card-header>
      <div class="table-label" fxLayout="row" fxLayoutAlign="space-between end" *ngIf="pending.length !== 0">
        <p>Name</p>
        <p>Email</p>
        <p>Accept/Block</p>
      </div>
      <mat-card *ngFor="let student of pending" class="student" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="field">{{student.email}}</div>
        <div class="field">{{student.name}}</div>
        <div class="field" *ngIf="student.accepted === null ">
          <button mat-raised-button (click)="editPermission(student, true)" class="accept-button"><i
            class="fa fa-check"></i> Accept
          </button>
          <button mat-raised-button (click)="editPermission(student, false)" class="block-button"><i
            class="fa fa-ban"></i>
            Block
          </button>
        </div>
        <div class="field" *ngIf="student.accepted !== null">
          <button mat-raised-button disabled class="accept-button"><i class="fa fa-check"></i> Accept</button>
          <button mat-raised-button disabled class="block-button"><i class="fa fa-ban"></i> Block</button>
        </div>
      </mat-card>
      <p *ngIf="pending.length === 0">There is no pending petitions.</p>
    </mat-card>
  </mat-tab>
  <mat-tab label="Accepted Students">
    <mat-card class="students-list">
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between start">
        <mat-card-title>Accepted students</mat-card-title>
        <button mat-raised-button (click)="blockAllAccepted()" class="block-button">
          <i class="fa fa-ban"></i>
          Block all
        </button>
      </mat-card-header>

      <div class="table-label" fxLayout="row" fxLayoutAlign="space-between end">
        <p>Name</p>
        <p>Email</p>
        <p>Block</p>
      </div>
      <mat-card *ngFor="let student of accepted" class="student" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="field">{{student.email}}</div>
        <div class="field">{{student.name}}</div>
        <div class="field" *ngIf="student.accepted === true">
          <button mat-raised-button (click)="editPermission(student, false)" class="block-button"><i
            class="fa fa-ban"></i>
            Block
          </button>
        </div>
        <div class="field" *ngIf="student.accepted !== true">
          <button mat-raised-button disabled class="block-button">
            <i class="fa fa-ban"></i>Block
          </button>
        </div>
      </mat-card>
    </mat-card>
  </mat-tab>
  <mat-tab label="Blocked Users">
    <mat-card class="students-list">
      <mat-card-header>
        <mat-card-title>Blocked users</mat-card-title>
      </mat-card-header>
      <div class="table-label" fxLayout="row" fxLayoutAlign="space-between end">
        <p>Name</p>
        <p>Email</p>
        <p>Accept</p>
      </div>
      <mat-card *ngFor="let student of declined" class="student" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="field">{{student.email}}</div>
        <div class="field">{{student.name}}</div>
        <div class="field">
          <button mat-raised-button (click)="editPermission(student, true)" class="accept-button"><i
            class="fa fa-check"></i>Accept
          </button>
        </div>
      </mat-card>
    </mat-card>
  </mat-tab>
</mat-tab-group>
