<div fxLayout="column" fxFlexFill>
  <mat-toolbar color="primary">
    EasyAssembly
    <div *ngIf="showNavBar()">
      <button mat-button (click)="redirectToExercises()">Exercises</button>
      <button mat-button *ngIf="isAdmin()" (click)="redirectToStudents()">Students</button>
      <button mat-button (click)="redirectToRanking()">Ranking</button>
      <button mat-button *ngIf="isAdmin()" (click)="redirectToExerciseForm()">New Exercise</button>
    </div>
    <div *ngIf="isAdmin()" class="button-right">
      Admin view
      <button mat-button *ngIf="showNavBar()" (click)="redirectToProfile()">
        {{getName()}}
      </button>
      <button mat-button *ngIf="showNavBar()" (click)="logOut()">Log out</button>
    </div>
    <div *ngIf="!isAdmin()" class="button-right">
      <button mat-button *ngIf="showNavBar()" (click)="redirectToProfile()">{{getName()}}</button>
      <button mat-button *ngIf="showNavBar()" (click)="logOut()">Log out</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <footer fxFlexOffset="auto" fxLayout="row" fxLayoutAlign="space-evenly start">
    <div>
      <h2>Easy Assembly</h2>
    </div>
    <div>
      <p>Eassy Assembly is Ángel Polo's final degree project for Computer Engineering at the University of Granada.</p>
      <p>The code of this project is under the MIT license.</p>
      Contact: <a href="mailto:easyassembly@gmail.com">easyassembly@gmail.com</a></div>
  </footer>
</div>
