.button-right {
  margin-left: auto;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

footer {
  background: #3f51b5;
  color: white;
  min-height: 120px;
}

a {
  color: white;
}

mat-toolbar{
  min-height: 64px;
}
