.card {
  margin: auto;
  margin-top: 64px;
  width: 25%;
}

.result {
  display: flex;
}

.example-full-width {
  width: 50%;
  margin: auto;
}

mat-card {
  border: 3px solid #3f51b5;
  margin-bottom: 64px !important;
}

.change-name-button {
  display: flex;
  width: 117px;
  height: 36px;
  color: white;
  background: #3f51b5;
  margin-left: 10px;
  margin-top: 5px;
  //margin-top: 15px;
}


textarea {
  height: 200px;
}

.check-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.name-form {
  display: flex;
}

.points{
  text-align: right;
  margin-top: 5px;
}
