<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" class="name-form">
    <div class="form-field">
      <mat-form-field>
        <input matInput placeholder="Name" name="Name" formControlName="name" [(ngModel)]="name">
      </mat-form-field>
    </div>
    <button mat-raised-button class="change-name-button"
            [disabled]="form.invalid"
            (click)="changeName()">
      Change name
    </button>
  </form>

  <div class="form-field">
    <mat-form-field>
      <input matInput disabled placeholder="Email" [(ngModel)]="email">
    </mat-form-field>
  </div>

  <p class="points">{{points}} points earned.</p>
</mat-card>

