<div class="content">
  <div cdkDropListGroup class="blocks" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="drag-container">
      <h2>Instructions</h2>

      <div cdkDropList [cdkDropListData]="instructions" class="instructions-list">
        <div class="block-box" *ngFor="let item of instructions" cdkDrag>
          <svg class="block-shape" height="350" width="275">
            <path class="blocklyPath blocklyBlockBackground" stroke="#3373CC" fill="#4C97FF" fill-opacity="1"
                  d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 349.1111068725586 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z"></path>
          </svg>
          {{item.name}}
          <div *ngIf="item.name === 'ADD'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Op1">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Op2">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Dest.">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Add the content of the register in op1 to the register in op2 and puts the result in Dest."></fa-icon>
          </div>
          <div *ngIf="item.name === 'MOVE'" fxLayout="row" fxLayoutAlign="space-evenly center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Source">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Dest.">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Move the content of the memory direction or register of op1 to the memory direction or register of op2"></fa-icon>
          </div>
          <div *ngIf="item.name === 'COMPARE'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="R0">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="R1">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Compares the content of the registers in Op1 and Op2 and changes the flag of the CPU depending if they are equals (true) or not (false)"></fa-icon>
          </div>
          <div *ngIf="item.name === 'IN'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Port">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Dest.">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Get the value of the I/O Port in Op1 and put it in the register in Op2."></fa-icon>
          </div>
          <div *ngIf="item.name === 'OUT'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Source">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Port">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Get the value of the register in Op1 and put the value in the port in Op2."></fa-icon>
          </div>
          <div *ngIf="item.name === 'JUMP'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Tag">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Put the PC of the CPU to the memory direction of the instruction with the tag in Op1."></fa-icon>
          </div>
          <div *ngIf="item.name === 'JNE'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Tag">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Put the PC of the CPU to the memory direction of the instruction with the tag in Op1 if the flag of the CPU is false."></fa-icon>
          </div>
          <div *ngIf="item.name === 'JE'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Tag">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Put the PC of the CPU to the memory direction of the instruction with the tag in Op1 if the flag of the CPU is true."></fa-icon>
          </div>
          <div *ngIf="item.name === 'DATA'" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput disabled placeholder="Content">
              </mat-form-field>
            </form>
            <fa-icon [icon]="faInfo"
                     matTooltip="Stores data in this memory direction."></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="drag-container">
      <h2>Memory</h2>
      <div cdkDropList [cdkDropListData]="memory.memory" class="memory-list" (cdkDropListDropped)="drop($event)">
        <div class="block-box block-box-memory" *ngFor="let item of memory.memory" [attr.index]="i" cdkDrag>
          <svg class="block-shape" height="350" width="275">
            <path class="blocklyPath blocklyBlockBackground" stroke="#3373CC" fill="#4C97FF" fill-opacity="1"
                  d="m 0,4 A 4,4 0 0,1 4,0 H 12 c 2,0 3,1 4,2 l 4,4 c 1,1 2,2 4,2 h 12 c 2,0 3,-1 4,-2 l 4,-4 c 1,-1 2,-2 4,-2 H 349.1111068725586 a 4,4 0 0,1 4,4 v 40  a 4,4 0 0,1 -4,4 H 48   c -2,0 -3,1 -4,2 l -4,4 c -1,1 -2,2 -4,2 h -12 c -2,0 -3,-1 -4,-2 l -4,-4 c -1,-1 -2,-2 -4,-2 H 4 a 4,4 0 0,1 -4,-4 z"></path>
          </svg>
          <mat-form-field class="instruction-input tag-input">
            <input matInput placeholder="Tag" [(ngModel)]="item.tag" name="{{i}}_tag" [disabled]="executing">
          </mat-form-field>
          {{item.index}} - {{item.name}}
          <div *ngIf="item.name === 'ADD'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Op1" [(ngModel)]="item.op1"
                       name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Op2" [(ngModel)]="item.op2"
                       name="{{i}}_op2" [disabled]="executing">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Dest." [(ngModel)]="item.res"
                       name="{{i}}_res"
                       [disabled]="executing">
              </mat-form-field>
              <!--              <mat-form-field class="instruction-input">
                              <input matInput placeholder="Tag" [(ngModel)]="item.tag" name="{{i}}_tag" [disabled]="executing">
                            </mat-form-field>-->
            </form>
          </div>
          <div *ngIf="item.name === 'MOVE'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Source" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Dest." [(ngModel)]="item.op2" name="{{i}}_op2"
                       [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'COMPARE'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="R0" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="R1" [(ngModel)]="item.op2" name="{{i}}_op2" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'IN'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Port">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Destination">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'OUT'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Source" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Port" [(ngModel)]="item.op2" name="{{i}}_op2" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'JUMP'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Tag" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'JNE'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Tag" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'JE'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Tag" [(ngModel)]="item.op1" name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <div *ngIf="item.name === 'DATA'">
            <form class="instruction-form">
              <mat-form-field class="instruction-input">
                <input matInput placeholder="Content" (keypress)="numberOnly($event)" [(ngModel)]="item.op1"
                       name="{{i}}_op1" [disabled]="executing">
              </mat-form-field>
            </form>
          </div>
          <fa-icon [icon]="faTrash" (click)="removeInstrucion(item.index)"></fa-icon>
        </div>
      </div>
    </div>

    <div class="registers" fxLayout="column">
      <mat-card class="exercise">
        <mat-card-title>{{exercise.title}}</mat-card-title>
        <mat-card-content>
          {{exercise.description}}
        </mat-card-content>
      </mat-card>
      <mat-card class="CPU">
        <div>
          <mat-card-title>CPU</mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>
              <p>ALU</p>
              <div class="registerLabel"> R0:
                <div class="register">{{cpu.R0 ? cpu.R0 : '?'}}</div>
              </div>
              <div class="registerLabel"> R1:
                <div class="register">{{cpu.R1 ? cpu.R1 : '?'}}</div>
              </div>
              <div class="registerLabel"> R2:
                <div class="register">{{cpu.R2 ? cpu.R2 : '?'}}</div>
              </div>
            </div>

            <div class="CPU CU">
              <p>CU</p>
              <div class="registerLabel">PC:
                <div class="register">{{cpu.PC}}</div>
              </div>
              <div class="registerLabel">IR:
                <div class="register">{{cpu.IR ? (cpu.IR.name) : '?'}}</div>
              </div>
            </div>
            <div class="entradaSalida">
              <p>I/O devices</p>
              <div class="registerLabel">PD:
                <div class="register">{{cpu.PD ? cpu.PD : '?'}}</div>
              </div>
              <div class="registerLabel">PE:
                <div class="register">{{cpu.PE ? cpu.PE : '?'}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-raised-button (click)="stopExecution()" matTooltip="Stop the execution">
          <fa-icon [icon]="faStop"></fa-icon>
        </button>
        <button mat-raised-button (click)="startExecution()" [disabled]="executing"
                matTooltip="Start the execution of the program">
          <fa-icon [icon]="faPlay"></fa-icon>
        </button>
        <button mat-raised-button matTooltip="Execute next execution" (click)="executeInstruction()">
          <fa-icon [icon]="faStepForward"></fa-icon>
        </button>
      </mat-card>
      <button class="save-button" mat-raised-button (click)="saveResolution()" matTooltip="Save Resolution">
        Save resolution
      </button>
    </div>
  </div>


</div>
