.drag-container {
  width: 600px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

mat-card {
  border: 3px solid #3f51b5;
}

.instructions-list {
  max-width: 350px;
}

.memory-list {
  border: dotted 3px #ccc;
  //min-height: 60px;
  //max-height: 700px;
  height: 700px;
  max-width: 275px;
  //background: #f2f2f2;
  //background: none !important;
  border-radius: 4px;
  //overflow: hidden;
  //display: block;
  ///////
  //position: relative;
  //overflow: auto;
}

.block-box {
  position: relative;
  //padding: 20px 10px;
  margin-bottom: 10px;
  //border-bottom: solid 1px #ccc;
  color: white;
  display: flex;
  //flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  //background: #e6e6ff;
  background: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 54px;
  width: 275px !important;
}

.block-box-memory:first-child {
  margin: 0 0 0 0 !important;
}

.block-box-memory {
  //margin-top: 0 !important;
  //margin-bottom: -10 px !important;
  //position: relative;
  margin: -6px 0 0 0 !important;
  //top: -8px;
  //padding-left: 10px;
  //  padding-right: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.block-box:last-child {
  border: none;
}

//Placeholder
.instructions-list.cdk-drop-list-dragging .block-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  color: #e6ff00;
}

.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.registers {
  width: 50%;
}

.CU {
  background-color: #ffcc99 !important;
}

.CPU {
  text-align: center;
  background-color: #99ccff;

  .aluTitle {
    font-size: 42px;
    margin: auto;
  }

  .registerLabel {
    border: 1px solid none;
    margin: 20px;
  }

  .register {
    border: 1px solid grey;
    text-align: center;
    width: 50px;
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  mat-card {
    margin: 10px;
  }

  mat-card-content {
    font-size: 28px;
  }
}

mat-card {
  margin: 10px;
}

.content {
  padding: 10px;
  //display: flex;
  ::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}


::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
}

::ng-deep.mat-form-field-wrapper {
  margin-top: 5px !important;
}
}

.blocks {
  //max-width: 50%;
}

.instruction-form {
  display: flex;
  float: right;
}

.instruction-input {
  width: 50px;
  margin-left: 10px;
}

.mat-input-element {
  color: white;
}

.mat-form-field-label {
  color: white;
}



.buttons {
  margin-top: 20px;
  background-color: #f2f2f2;
}

.buttons button {
  margin: 10px;
  height: 100px;
  width: 100px;
}

.entradaSalida {
  background-color: #e6ff00;
}

.block-shape {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.tag-input {
  position: absolute;
  left: -80px;
  top: 0px;

  .mat-input-element {
    color: grey;
  }

  .mat-form-field-label {
    color: grey;
  }

  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: grey !important;
  }


  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: grey !important;;
  }
}

.exercise {
  min-height: 300px;
}

.save-button {
  border: 3px solid #3f51b5;
}
