<h1 mat-dialog-title>Congratulations! 🎉</h1>
<div mat-dialog-content>
  <p>You have resolved the exercise correctly.</p>
  <p>If this is the first time you have resolved this exercise, you have earned {{data.points}} points! 🎊</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
