<mat-card class="students-list">
  <mat-card-header>
    <mat-card-title>Ranking</mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="list" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Points Column -->
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points</th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <!-- Points Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Last update</th>
      <td mat-cell *matCellDef="let element"> {{element.date ? element.date : "Never"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>




