.students-list {
  margin: auto;
  margin-top: 64px;
  width: 33%;
}

/* .students-list:first-child {
  background-color: yellow;
}*/

.student {
  margin: 25px;
}

.labels {
  margin-left: 30px;
  margin-right: 30px;
}

mat-card {
  border: 3px solid #3f51b5;

  .student {
    margin-top: 0px;
  }
}

table {
  width: 100%;
  margin: auto;
  //border: 3px solid #3f51b5;
  box-shadow: none;
}

.mat-cell {
  padding: 8px 80px 8px 0;
}


