<mat-card class="example-container">
  <form [formGroup]="form">
    <mat-card-header>
      <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" name="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" name="name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button (click)="register()">Register</button>
  </form>
</mat-card>