.example-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  margin-top: 64px;

  input {
    width: 75%;
  }
}

mat-form-field {
  width: 100%;
}

button {
  text-align: center;
  width: 100%;
  margin: 2px;
  background-color: #3f51b5;
  color: white;
}

mat-card {
  width: 300px;
  margin: auto;
  margin-top: 64px;
  border: 3px solid #3f51b5;
}
